doctype html
html
    head
        meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
        script(src="/javascripts/jquery.js")
        script(src="/javascripts/thin.js")
        link(rel="stylesheet", href="/stylesheets/thin.css")
        link(rel='stylesheet', href='/stylesheets/style.css')
        title=title
        block head
    body
    block content
      