extends __
block head
  link(rel="stylesheet", href="/stylesheets/avatar.css")
block content
  container.ignore
    input(type="hidden" id="LANG" value=lang)
    input(type="hidden" id="AVID" value=avid)
    input(type="hidden" id="IMGPRE" value=imgpre)
    input(type="hidden" id="UPDATE" value=update)
    h3
      span.title
      em.links
      em.subtitle
      em.tlsub 
  script(src="/javascripts/computerJson.js")
  script(src="/gi/avatar.js")
  script(src="/javascripts/avatar.js")