extends _
block head
    link(rel="stylesheet", href="/stylesheets/blessing.css")
block content
    input(type="hidden" id="LANG" value=lang)
    input(type="hidden" id="IMGPRE" value=imgpre)
    container
        h3
            span.title
            em.subtitle
            em.links
            em.lang
    script(src="/javascripts/sr_lang.js")
    script(src="/javascripts/txt.js")
    script(src="/javascripts/blessing.js")