extends _
block head
    link(rel="stylesheet", href="/stylesheets/chaos.css")
block content
    input(type="hidden" id="LANG" value=lang)
    input(type="hidden" id="CID" value=cid)
    input(type="hidden" id="FID" value=fid)
    input(type="hidden" id="IMGPRE" value=imgpre)
    container
        h3
            span.title
            em.links 
            em.subtitle
            em.lang
    script(src="/javascripts/sr_lang.js")
    script(src="/javascripts/txt.js")
    script(src="/javascripts/chaos.js")
    script(src="/plugins/echarts.min.js")