extends __
block head
  link(rel="stylesheet", href="/stylesheets/database.css")
block content
  container.ignore
    input(type="hidden" id="LANG" value=lang)
    input(type="hidden" id="IMGPRE" value=imgpre)
    input(type="hidden" id="_H_" value=h)
    h3
      span.title
      em.subtitle
      em.links
      em.tlsub 
  script(src="/javascripts/computerJson.js")
  script(src="/plugins/echarts.min.js")
  script(src="/javascripts/database.js")