extends _
block head
    script(src="/javascripts/chaos.js")
    script(src="/data/Kingdoms.js")
    script(src="/data/LevelCurves.js")
    script(src="/data/Monster.js")
    script(src="/data/Chaos.js")
    script(src="/javascripts/txt.js")
    link(rel="stylesheet", href="/stylesheets/chaos.css")
block content
    input(type="hidden" id="LANG" value=lang)
    container
        h3
            span.title
            em.subtitle
            em.links
            em.lang