extends _
block head
    script(src="/javascripts/lang_chs.js")
    script(src="/javascripts/home.js")
    script(src="/javascripts/didyouknow.js")
    script(src="/javascripts/txt.js")
    link(rel="stylesheet", href="/stylesheets/home.css")
block content
    container
        h3
        span.title