extends _
block head
    script(src="/javascripts/mons.js")
    script(src="/data/Kingdoms.js")
    script(src="/data/LevelCurves.js")
    script(src="/data/Monster.js")
    script(src="/data/MonsterSkill.js")
    script(src="/javascripts/txt.js")
    link(rel="stylesheet", href="/stylesheets/mons.css")
block content
    input(type="hidden" id="LANG" value=lang)
    container
        h3
            span.title
            em.links 
            em.subtitle
            em.lang