header {
    display: none;
}

h3 {
    margin: 0px auto 20px;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    color: rgb(255, 255, 255);
}

h3 span {
    position: relative;
}

h3 span {
    color: #fff;
}

h3 .subtitle {
    padding: 10px;
    display: block;
    width: 100%;
    margin: 0 auto;
    font-style: normal;
}

h3 a {
    color: #df903b;
}

h3 .tlsub {
    font-style: normal;
    cursor: pointer;
}

h3 .links {
    font-style: normal;
    display: block;
    line-height: 1.6;
}

container {
    display: block;
    max-width: 2000px;
}

.content {
    padding: 20px 0px 5px;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    min-height: 600px;
}

popdialog {
    height: 100%;
}

.norm popdialog {
    height: 70%;
}

popheader {
    height: 40px;
    line-height: 40px;
    background: #fff;
    color: #333;
    font-size: 18px;
    font-weight: 600;
    overflow: hidden;
}

popbody {
    max-height: calc(100% - 40px) !important
}

.mat-pop popbody {
    overflow-x: hidden;
}

.avatar_mat {
    margin: 9px 6px;
    padding: 0px 6px;
    text-align: center;
    line-height: 24px;
}

.avatar_mat img {
    width: 54px;
    margin: auto;
}

.a_select,
.r_select {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.a_select span {
    width: 46%;
    text-align: center;
    margin: 1%;
    border: 1px solid #333;
    padding: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
}

.r_select span {
    width: 31%;
    text-align: center;
    margin: 1%;
    border: 1px solid #333;
    padding: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.a_select span.active {
    background-color: rgb(37, 69, 186);
    color: #fff;
}

.r_select span.active {
    background-color: rgb(37, 69, 186);
    color: #fff;
}

.a_section,
.a_section_small,
.a_section_smallsmall,
.a_section_small_1,
.a_section_small_2,
.a_section_small_3,
.a_section_small_4 {
    width: 94.7%;
    display: inline-block;
    border-radius: 10px;
    background-color: #27363E;
    color: #DDDDDD;
    position: relative;
}

.a_section_head,
.a_section_head span {
    font-size: 17px;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 15px;
    line-height: 1.55;
}

.a_section_content {
    font-size: 15px;
    margin-left: 15px;
    margin-right: 15px;
    line-height: 2;
    overflow-x: scroll;
}

.TUT_Text {
    font-size: 15px;
}

.a_section_content span {
    font-size: 15px;
    line-height: 2;
    margin-left: 0px;
}

.a_section_content input {
    width: 47%;
    height: 40px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 1);
    font-size: 15px;
    margin: auto;
}

.a_section_head input {
    width: 72px;
    height: 28px;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 1);
    font-size: 15px;
    margin: auto;
    text-align: center;
    position: relative;
}

.generation,
.cl,
.weapon,
.weapon-rarity,
.sort {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 10px 15px;
}

.generation schedule {
    width: auto;
    height: 61px;
    padding: 0px;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 15px;
    margin-right: 15px;
}

.generation schedule:hover {
    border: 1px solid red
}

.generation img {
    height: 60px;
}

schedule {
    display: block;
    width: calc((100% - 50px) / 3);
    text-align: center;
    padding: 10px 5px;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

schedule.active {
    background-color: rgb(37, 69, 186);
    color: #fff;
}

button {
    width: 47%;
    height: 40px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 1);
    font-size: 15px;
}

.skill_lv_up,
.skill_lv_down {
    height: 28px;
    margin-left: 10px;
    margin-right: 0px;
    width: 50px;
}

.stat_ver_choose_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.stat_ver_choose_wrap span {
    margin: 0px 15px;
}

.stat_ver_choose select {
    width: 108px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    height: 29px;
}

.stat_ver_choose_w select,
.story_this select {
    width: 72px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    height: 22px;
    position: relative;
    bottom: 3px;
}
.changelog select {
    width: 108px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    height: 33px;
}

.changelog {
    text-align: center;
}

.cl_data div {
    margin: 15px 0;
}

.cl_all .a_section div {
    margin: 15px;
}

.cl_data {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.toggle_stat {
    width: 108px;
    height: 33px;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 1);
    color: #27363E;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: auto;
    float: right;
    text-align: center;
    cursor: pointer;
    font-weight: normal;
}

.battle_desc {
    border-radius: 10px;
    background-color: #27363E;
    color: #DDDDDD;
    width: 94.7%;
}

.battle_stat {
    border-radius: 10px;
    background-color: #27363E;
    color: #DDDDDD;
    width: 94.7%;
}

.param {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.windzone_table {
    background-color: transparent !important;
    text-align: center
}

.windzone_table:hover {
    background-color: #666 !important;
}

.windzone_table>td {
    padding: 7px;
}

.attack_div {
    width: 100%;
    overflow-x: scroll;
    transform: rotateX(180deg);
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

.a_section_small ::-webkit-scrollbar-thumb {
    background-color: #ffffff;
}

.a_section ::-webkit-scrollbar-thumb {
    background-color: #ffffff;
}

.attack_div table {
    transform: rotateX(180deg);
    font-size: 14px;
}

.attack_div th,
tr {
    white-space: nowrap;
    line-height: 28px;
}

.attack_div td {
    padding: 8px;
}

.attack_div th {
    padding-left: 8px;
    padding-right: 8px;
}

.attack_center {
    text-align: center;
}

.scroller {
    overflow-x: hidden !important;
}

.main-table th,
.main-table td {
    padding: 0px 5px
}

.avatar-table {
    margin-left: -5px;
    margin-right: -5px;
    width: calc(100% + 10px);
    font-size: 14px;
}

.relic-table {
    table-layout: fixed;
    width: calc(100% + 20px);
    min-width: 660px;
    margin-left: -10px;
    margin-right: -10px;
}

.relic-table th {
    padding: 9px;
    text-wrap: wrap;
    font-size: 14px;
    line-height: 27px;
}

.relic-table td {
    text-wrap: wrap;
    font-size: 14px;
    line-height: 27px;
    padding: 0px 5px;
}

.relic-head tr :nth-child(2) {
    width: 108px;
}

.relic-head tr :nth-child(3) {
    width: 108px;
}

.relic-head tr :nth-child(4) {
    width: 108px;
}

.relic-head tr :nth-child(5) {
    width: 108px;
}

.relic-head tr :nth-child(6) {
    width: 108px;
}

.weapon_pop popbody {
    padding: 5px 10px 30px;
}

.weapon-table {
    table-layout: fixed;
    width: calc(100% + 20px);
    min-width: 1008px;
    margin-left: -10px;
    margin-right: -10px;
}

.weapon-table td {
    padding: 0px 9px;
    text-wrap: wrap;
    font-size: 14px;
    line-height: 27px;
}

.weapon-table th {
    padding: 0px 9px;
    font-size: 14px;
    line-height: 27px;
}

.weapon-head tr :nth-child(1) {
    width: 8%
}

.weapon-head tr :nth-child(2) {
    width: 8%
}

.weapon-head tr :nth-child(3) {
    width: 16%
}

.weapon-head tr :nth-child(4) {
    width: 10%
}

.weapon-head tr :nth-child(5) {
    width: 21%
}

.weapon-head tr :nth-child(6) {
    width: 12%
}

.toggle_story_button {
    margin-top: 12px;
}

.relic_image {
    width: 80px;
}

.weaponpic {
    height: 80px;
    display: block;
    margin: auto;
}

.mat-img {
    height: 160px;
    margin: auto;
    display: block;
}

.mat-desc {
    margin: 6px 16px;
    line-height: 2;
    font-size: 15px;
}

.mat-desc_ {
    margin: 6px 16px;
    line-height: 2;
    font-size: 15px;
}

.mat-name {
    margin: 4px 18px;
    line-height: 2;
    font-size: 20px;
    text-align: center;
}

.mat-name_ {
    margin: 13px 18px 10px;
    line-height: 2;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
}

.avatar_mat_1,
.avatar_mat_2 .img_2,
.avatar_mat_2 p {
    cursor: pointer;
}

.mat-pop popbody {
    height: 100%;
}

.mat-pop popbody::-webkit-scrollbar-thumb {
    background-color: #888888;
}

.avatar_costume_img {
    height: 140px;
}

.gacha {
    width: 170%;
    margin-left: calc(50% - min(900px, 170%) / 2);
    max-width: 900px;
}
.namecard {
    width: 100%;
    margin-left: calc(50% - min(700px, 100%) / 2);
    max-width: 700px;
}
.constellation {
    max-height: calc(80%);
    max-width: calc(80%);
    aspect-ratio: 1;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    z-index: -1;
}

.reset_talk {
    width: 130px;
}

.reset_talk_ {
    width: auto;
    cursor: default;
}

.reset_talk:hover {
    background-color: #2545ba;
    color: #fff
}

.reset_talk_:hover {
    background-color: #fff;
    color: #000
}

.talk {
    font-size: 15px;
    padding: 15px;
    margin: 8px auto;
    border-radius: 10px;
    width: 95%;
    max-width: 700px;
    line-height: 1.8;
}

.talk_0,
.talk_20,
.talk_0_ {
    background-color: #27363E;
    color: #DDDDDD;
}

.talk_1,
.talk_21 {
    border: 1px solid #27363E;
}

.talk_2,
.talk_0 {
    cursor: pointer;
}

.content section.sort schedule {
    font-size: 13px;
}

.ml_b, .ml_e, .ml_w {
    cursor: pointer;
}

.TUT popdialog {
    height: auto;
}

.showtop {
    font-size: 26px;
    text-align: center;
    margin-top: -22px;
    margin-bottom: -2px;
    cursor: pointer;
}

.head_withimg {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.head_left {
    width: 40px;
    height: 40px;
}

.head_right {
    margin: 0 0 0 5px;
}
.hr_1 {
    width: calc(100% - 45px);
}
.hr_2 {
    width: calc(100% - 90px);
}
.hr_3 {
    width: calc(100% - 135px);
}

.avatar-area {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.avatar-card {
    border-radius: 5px;
    padding: 14px;
    margin-top: 7px;
    margin-bottom: 13px;
    width: calc(50% - 15px);
    line-height: 2;
    background-color: #27363E;
    color: #dddddd;
    position: relative;
    text-align: center;
    cursor: pointer;
}

.avatar-card2 {
    border-radius: 5px;
    padding: 14px;
    margin-top: 7px;
    margin-bottom: 13px;
    width: calc(100% - 10px);
    line-height: 2;
    background-color: #27363E;
    color: #dddddd;
    position: relative;
    text-align: center;
    cursor: pointer;
}

.avatar-head {
    height: 100px;
    margin: auto;
    display: block;
    margin-bottom: 10px;
    margin-top: 6px;
}

.avatar-name {
    font-size: 16px;
} 
.avatar-name2 {
    font-size: 17px;
}  
.avatar-title {
    font-size: 14px;
} 
.avatar-title2 {
    font-size: 14px;
} 
.weapon-atk {
    height: 26px;
    position: relative;
    top: 7px;
    margin-right: 4px;
}
.avatar-stat {
    font-size: 13px;
    margin-left: 4px;
    margin-right: 4px;
    white-space: pre;
}
.avatar-staticon {
    height: 23px;
    width: 23px;
    position: relative;
    top: 6px;
}

.Norm {
    font-size: 15px;
    text-align: center;
    margin: auto;
    position: relative;
    top: -5px;
    padding: 10px 20px;
    width: max-content;
    cursor: pointer;
}

schedule.selected {
    border-width: 2px;
    height: 63px;
}
schedule.selected:hover {
    border: 2px solid red
}
schedule.selected img {
    position: relative;
    top: -2px;
}

.sort_w {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 5px 0px 15px;
}

.sort_w schedule {
    padding: 0;
    width: calc(20% - 12px);
    margin: 0;
}

.sort_w img {
    height: 100%;
    max-height: 60px;
    max-width: 100%;
    aspect-ratio: 1;
}

.addprop img {
    height: 36px;
    position: relative;
    top: 12px;
    margin-right: 3px;
}

.addprop {
    margin: 0px 7px;
    font-weight: bold;
}

.mon_head {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -6px auto 10px;
}

@media screen and (min-width: 900px) {
    .relic-head tr :nth-child(2) {
        width: 12%;
    }

    .relic-head tr :nth-child(3) {
        width: 12%;
    }

    .relic-head tr :nth-child(4) {
        width: 12%;
    }

    .relic-head tr :nth-child(5) {
        width: 12%;
    }

    .relic-head tr :nth-child(6) {
        width: 12%;
    }
}

@media screen and (min-width: 500px) and (max-width: 800px) {
    schedule.selected {
        border-width: 2px;
        height: 73px;
    }
    
    .avatar-name {
        font-size: 16px;
    } 
    .avatar-name2 {
        font-size: 17px;
    }  
    .avatar-title {
        font-size: 14px;
    }
    .avatar-title2 {
        font-size: 14px;
    } 
    .weapon-atk {
        height: 26px;
        top: 7px;
    }

    .avatar-head {
        height: 120px;
    }

    .avatar-card {
        width: calc(33% - 10px);
    }
    .avatar-card2 {
        width: calc(50% - 10px);
    }

    .head_left {
        width: 45px;
        height: 45px;
    }
    
    .head_right {
        margin: 0 0 0 5px;
    }
    .hr_1 {
        width: calc(100% - 50px);
    }
    .hr_2 {
        width: calc(100% - 100px);
    }
    .hr_3 {
        width: calc(100% - 150px);
    }

    .generation img {
        height: 70px;
    }

    .generation schedule {
        height: 71px;
    }

    .showtop {
        font-size: 32px;
    }

    .content section.sort schedule {
        font-size: 15px;
    }

    .talk {
        font-size: 16px;
    }

    .content {
        padding: 20px 0px 10px;
    }

    .avatar-table {
        margin-left: -10px;
        margin-right: -10px;
        width: calc(100% + 20px);
        font-size: 15px;
    }

    .mat-desc {
        margin: 4px 18px;
        line-height: 2;
        font-size: 17px;
    }

    .mat-desc_ {
        margin: 6px 16px;
        line-height: 2;
        font-size: 16px;
    }

    .mat-img {
        height: 200px;
        margin: auto;
    }

    .avatar_mat img {
        width: 60px;
        margin: auto;
    }

    .avatar_mat {
        margin: 9px 6px;
        padding: 0px 9px;
        line-height: 27px;
    }

    .a_select span {
        width: 31%;
        font-size: 14px;
    }

    .relic_image {
        width: 100px
    }

    .TUT_Text {
        font-size: 16px;
    }

    .a_section_content {
        font-size: 16px;
    }

    .a_section_content span {
        font-size: 16px;
    }

    .a_section_content input {
        font-size: 16px;
    }

    .a_section_head input {
        font-size: 16px;
    }

    .a_section_head,
    .a_section_head span {
        font-size: 19px;
    }
    
    .stat_ver_choose_w select,
    .story_this select {
        width: 75px;
        font-size: 13px;
        height: 24px;
    }

    .avatar_costume_img {
        height: 150px;
    }

    .gacha {
        width: 130%;
        margin-left: calc(50% - min(900px, 130%) / 2);
    }

    .weaponpic {
        height: 100px;
    }

    .weapon-head tr :nth-child(1) {
        width: 10%
    }

    .weapon-head tr :nth-child(2) {
        width: 10%
    }

    .a_section_small_3 {
        width: 46%;
    }

    .a_section_small_4 {
        width: 94.7%;
    }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
    .avatar-name {
        font-size: 17px;
    }
    .avatar-name2 {
        font-size: 18px;
    }  
    .avatar-title {
        font-size: 15px;
    }
    .avatar-title2 {
        font-size: 15px;
    } 
    .weapon-atk {
        height: 28px;
        top: 8px;
    }
    .avatar-card {
        width: calc(25% - 12px);
    }
    .avatar-card2 {
        width: calc(33% - 10px);
    }
}

@media screen and (min-width: 1000px) {
    .avatar-name {
        font-size: 18px;
    }
    .avatar-name2 {
        font-size: 18px;
    }  
    .avatar-title {
        font-size: 16px;
    }
    .avatar-title2 {
        font-size: 15px;
    } 
    .weapon-atk {
        height: 30px;
        top: 9px;
    }
    .avatar-card {
        width: calc(20% - 14px);
    }
    .avatar-card2 {
        width: calc(25% - 12px);
    }
}

@media screen and (min-width: 800px) {
    schedule.selected {
        border-width: 2px;
        height: 83px;
    }
    .avatar-stat {
        font-size: 14px;
    }
    .avatar-staticon {
        height: 27px;
        width: 27px;
        top: 8px;
    }
    .avatar-head {
        height: 140px;
    }

    .head_left {
        width: 50px;
        height: 50px;
    }
    
    .head_right {
        margin: 0 0 0 5px;
    }
    .hr_1 {
        width: calc(100% - 55px);
    }
    .hr_2 {
        width: calc(100% - 110px);
    }
    .hr_3 {
        width: calc(100% - 165px);
    }

    .generation img {
        height: 80px;
    }

    .generation schedule {
        height: 81px;
    }

    .showtop {
        font-size: 38px;
    }

    .content section.sort schedule {
        font-size: 16px;
    }

    .talk {
        font-size: 17px;
    }

    .content {
        padding-top: 20px;
    }

    .avatar-table {
        margin-left: -20px;
        margin-right: -20px;
        width: calc(100% + 40px);
        font-size: 16px;
    }

    .mat-desc {
        margin: 4px 20px;
        line-height: 2;
        font-size: 18px;
    }

    .mat-desc_ {
        margin: 6px 16px;
        line-height: 2;
        font-size: 17px;
    }

    .mat-img {
        height: 240px;
        margin: auto;
    }

    .avatar_mat img {
        width: 65px;
        margin: auto;
    }

    .avatar_mat {
        margin: 9px 6px;
        padding: 0px 12px;
        line-height: 30px;
    }

    .battle_desc {
        width: 50%;
    }

    .battle_stat {
        width: 42%;
    }

    .a_section_small {
        width: 46%;
    }

    .a_section_smallsmall {
        width: 30%;
    }

    .a_section_small_1 {
        width: 36%;
    }

    .a_section_small_2 {
        width: 56%;
    }

    .a_section_small_3 {
        width: 30%;
    }

    .a_section_small_4 {
        width: 30%;
    }

    .a_select span {
        width: 22%;
        font-size: 15px;
    }

    schedule {
        width: calc((100% - 50px) / 5);
    }

    .relic_image {
        width: 100px
    }

    .TUT_Text {
        font-size: 17px;
    }

    .a_section_content {
        font-size: 17px;
    }

    .a_section_content span {
        font-size: 17px;
    }

    .a_section_content input {
        font-size: 17px;
    }

    .a_section_head input {
        font-size: 17px;
    }

    .a_section_head,
    .a_section_head span {
        font-size: 20px;
    }
    
    .stat_ver_choose_w select,
    .story_this select {
        width: 77px;
        font-size: 14px;
        height: 26px;
    }

    .avatar_costume_img {
        height: 160px;
    }

    .gacha {
        width: 100%;
        margin-left: calc(50% - min(900px, 100%) / 2);
    }

    .weaponpic {
        height: 120px;
    }

    .weapon-head tr :nth-child(1) {
        width: 12%
    }

    .weapon-head tr :nth-child(2) {
        width: 12%
    }
}