* {
    margin: 0;
}

container {
    display: block;
    max-width: 2000px;
}

.content {
    padding: 20px 0px;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    min-height: 600px;
}

popdialog {
    height: 100%;
}

popheader {
    height: 40px;
    line-height: 40px;
    background: #fff;
    color: #333;
    font-size: 18px;
    font-weight: 600;
    overflow: hidden;
}

popbody {
    max-height: calc(100% - 40px) !important
}

.scroller {
    overflow-x: hidden !important;
}

::-webkit-scrollbar-thumb:vertical {
    background-color: #aaaaaa;
    border-radius: 4px;
}

schedule {
    display: block;
    width: calc((100% - 50px) / 5);
    text-align: center;
    padding: 10px 0px;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.a_w_r {
    margin-top: 0;
}

.a_w_r schedule {
    background-color: #27363e;
    width: 60px;
    border-radius: 9px;
    border-width: 0px;
    display: flex;
    justify-content: center;
}

.a_w_r schedule.active {
    background-color: #2545ba;
}

.a_w_r img {
    width: 40px;
}

.area {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.avatar-stat {
    font-size: 13px;
    margin-left: 4px;
    margin-right: 4px;
    white-space: pre;
}
.avatar-staticon {
    height: 23px;
    width: 23px;
    position: relative;
    top: 6px;
}

.avatar-card {
    border-radius: 5px;
    padding: 12px 14px 17px;
    margin-top: 7px;
    margin-bottom: 13px;
    width: calc(50% - 43px);
    line-height: 2;
    background-color: #27363E;
    color: #dddddd;
    position: relative;
    text-align: center;
    cursor: pointer;
}


.avatar-card p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.avatar-head {
    height: 180px;
    margin: auto;
    display: block;
    margin-bottom: -10px;
    margin-top: -12px;
    z-index: -1;
    max-width: 100%;
    object-fit: contain;
}

.weapon-head {
    height: 180px;
    margin: auto;
    display: block;
    margin-bottom: 6px;
    margin-top: 6px;
    z-index: -1;
    max-width: 100%;
    object-fit: contain;
}

.belowhead {
    position: relative;
    top: -40px;
}

.mon_head {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.mon_head schedule {
    font-size: 14px;
    margin: 1%;
}

.mon_head, .mon_head section {
    margin: 0px;
}

.addprop {
    margin: 0px 10px;
}

.a_section,
.a_section_small,
.a_section_smallsmall,
.a_section_small_1,
.a_section_small_2,
.a_section_small_3,
.a_section_small_4 {
    width: 94.7%;
    display: inline-block;
    border-radius: 10px;
    background-color: #27363E;
    color: #DDDDDD;
    position: relative;
}

.a_section_head,
.a_section_head span {
    font-size: 17px;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 15px;
    line-height: 1.55;
}

.a_section_content {
    font-size: 15px;
    margin-left: 15px;
    margin-right: 15px;
    line-height: 2;
}

.TUT_Text {
    font-size: 15px;
}

.a_section_content span {
    font-size: 15px;
    line-height: 2;
    margin-left: 0px;
}

.addprop img {
    height: 36px;
    position: relative;
    top: 12px;
    margin-right: 3px;
}

.addprop_ img {
    height: 24px;
    position: relative;
    top: 8px;
    margin-right: 1px;
}

.addprop_ span {
    font-size: 13px;
}

.a_section_content input {
    width: 47%;
    height: 40px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 1);
    font-size: 15px;
    margin: auto;
}

.a_section_head input {
    width: 72px;
    height: 28px;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 1);
    font-size: 15px;
    margin: auto;
    text-align: center;
    position: relative;
}

.a_section_small ::-webkit-scrollbar-thumb {
    background-color: #ffffff;
}

.a_section ::-webkit-scrollbar-thumb {
    background-color: #ffffff;
}

.gacha {
    width: 100%;
    margin-left: calc(50% - min(500px, 100%) / 2);
    max-width: 500px;
}

.mon_body {
    margin-top: 0px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.mon_head schedule {
    width: 46%;
    text-align: center;
    margin: 1%;
    border: 1px solid #333;
    padding: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
}

.mon_head schedule.active {
    background-color: rgb(37, 69, 186);
    color: #fff;
}

.avatar_mat {
    margin: 14px 10px;
    padding: 0px 6px;
    text-align: center;
    line-height: 24px;
}

.avatar_mat img {
    height: 50px;
    border: 2px solid #27363e;
    border-radius: 5px;
    padding: 4px;
    cursor: pointer;
}

.avatar_mat img:hover {
    height: 50px;
    border: 2px solid #dddddd;
    border-radius: 5px;
}

.avatar_mat_1,
.avatar_mat_2 .img_2,
.avatar_mat_2 p {
    cursor: pointer;
}

.head_withimg {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


.head_left {
    width: 40px;
    height: 40px;
}

.head_right {
    margin: 0 0 0 5px;
}
.hr_1 {
    width: calc(100% - 45px);
}
.hr_2 {
    width: calc(100% - 90px);
}
.hr_3 {
    width: calc(100% - 135px);
}

.stat_ver_choose_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.stat_ver_choose_wrap span {
    margin: 0px 15px;
}

.stat_ver_choose select {
    width: 108px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    height: 29px;
}

.up, .down {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid #dddddd;
    height: 26px;
    width: 30px;
    border-radius: 3px;
    margin: auto 8px;
    cursor: pointer;
}

.control {
    display: flex;
    margin-top: 0px;
}
.sbp img {
    height: 36px;
    position: relative;
    top: 10px;
}
.sbp {
    margin-right: 10px;
    white-space: pre;
}

.rar schedule {
    min-width: 60px;
    font-size: 14px;
    width: calc((100% - 70px) / 7)
}

.addprop_ {
    margin: 0px auto 10px;
}

.weapon_left {
    width: 100%;
    max-width: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.weapon_right {
    width: 100%;
    margin-top: -25px;
}
.weapon_left img {
    width: 100%;
    margin: 20px auto;
}

.weapon_title {
    font-size: 16px;
}
.weapon_story {
    font-size: 14px;
}

.stat_ver_choose_w select,
.story_this select {
    width: 72px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    height: 22px;
    position: relative;
    bottom: 3px;
}

.-dev {
    text-align: center;
    font-size: 14px;
    margin: 20px 15px;
    line-height: 1.7;
    font-weight: normal;
}

.rank_up {
    width: 168px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: -15px;
}

.rank_down {
    width: 100%;
    margin: 0;
}

.curio {
    border-radius: 5px;
    padding: 18px;
    margin-top: 21px;
    width: calc(100% - 80px);
    line-height: 2;
    background-color: #27363E;
    color: #dddddd;
    position: relative;
}

.name {
    text-align: center;
    font-weight: bold;
    margin: 15px auto;
    font-size: 16px;
}

.icon {
    height: 120px;
    margin: auto;
    display: block;
}

.desc {
    font-size: 14px;
    margin-top: 11px;
}

.cl {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 10px 15px;
}

.cl_data div {
    margin: 15px 0;
}
.up_data div {
    margin: 15px 0;
}

.cl_all .a_section div {
    margin: 15px;
}
.up_all .a_section div {
    margin: 15px;
}

.cl_data, .up_data {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.changelog select {
    width: 108px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    height: 33px;
}

.changelog {
    text-align: center;
}

.cl_data ul, .cl_data ol, .cl_data li {
    list-style-type: none;
    padding-inline-start: 0px;
}
.up_data ul, .up_data ol, .up_data li {
    list-style-type: none;
    padding-inline-start: 0px;
}

@media screen and (min-width: 500px) and (max-width: 800px) {
    .curio {
        width: calc((100% - 140px) / 2);
    }
    .icon {
        height: 140px;
    }
    .desc {
        font-size: 15px;
    }
    .name {
        font-size: 17px;
    }
    .rank_up {
        width: 24%;
        padding-left: 15px;
        margin-bottom: 15px;
    }
    
    .rank_down {
        width: calc(76% - 15px);
        margin: 15px 0;
    }
    .-dev {
        font-size: 15px;
    }
    .stat_ver_choose_w select,
    .story_this select {
        width: 75px;
        font-size: 13px;
        height: 24px;
    }
    .weapon_title {
        font-size: 18px;
    }
    .weapon_story {
        font-size: 15px;
    }
    .weapon_left {
        width: 100%;
        max-width: 250px;
    }
    .weapon_right {
        width: 100%;
        margin-top: -25px;
    }
    .addprop_ span {
        font-size: 15px;
    }
    .addprop_ img {
        top: 12px;
        height: 36px;
        margin-right: 3px;
    }
    .rar schedule {
        font-size: 15px;
    }
    
    .head_left {
        width: 45px;
        height: 45px;
    }
    
    .head_right {
        margin: 0 0 0 5px;
    }
    .hr_1 {
        width: calc(100% - 50px);
    }
    .hr_2 {
        width: calc(100% - 100px);
    }
    .hr_3 {
        width: calc(100% - 150px);
    }
    .avatar_mat img {
        height: 57px;
        border: 2px solid #27363e;
        border-radius: 5px;
    }
    .avatar_mat img:hover {
        height: 57px;
        border: 2px solid #dddddd;
        border-radius: 5px;
    }

    .avatar_mat {
        margin: 9px 6px;
        padding: 0px 9px;
        line-height: 27px;
    }
    .mon_head schedule {
        width: 31%;
        font-size: 14px;
    }
    .avatar-card {
        width: calc(33% - 38px);
    }
    .avatar-head, .weapon-head {
        height: 210px;
    }
    .mon_head schedule, .skill_phase schedule {
        font-size: 15px;
    }
    .a_section_content {
        font-size: 16px;
    }

    .a_section_content span {
        font-size: 16px;
    }

    .a_section_content input {
        font-size: 16px;
    }

    .a_section_head input {
        font-size: 16px;
    }

    .a_section_head,
    .a_section_head span {
        font-size: 19px;
    }
    .a_section_small_3 {
        width: 46%;
    }

    .a_section_small_4 {
        width: 94.7%;
    }

    .gacha {
        width: 85%;
        margin-left: calc(50% - min(500px, 85%) / 2);
    }
}

@media screen and (min-width: 800px) {
    .icon {
        height: 160px;
    }
    .curio {
        width: calc((100% - 200px) / 3);
    }
    .desc {
        font-size: 16px;
    }
    .name {
        font-size: 18px;
    }
    .rank_up {
        width: 200px;
        padding-left: 15px;
        margin-bottom: 15px;
    }
    
    .rank_down {
        width: calc(100% - 215px);
        margin: 15px 0;
    }
    .-dev {
        font-size: 16px;
    }
    .stat_ver_choose_w select,
    .story_this select {
        width: 77px;
        font-size: 14px;
        height: 26px;
    }
    .weapon_title {
        font-size: 20px;
    }
    .weapon_story {
        font-size: 16px;
    }
    .weapon_left {
        width: 38%
    }
    .weapon_right {
        width: calc(62% - 40px);
        margin-top: 15px;
    }
    .addprop_ span {
        font-size: 16px;
    }
    .addprop_ img {
        top: 12px;
        height: 36px;
        margin-right: 1px;
    }
    .rar schedule {
        font-size: 16px;
    }
    .head_left {
        width: 50px;
        height: 50px;
    }
    
    .head_right {
        margin: 0 0 0 5px;
    }
    .hr_1 {
        width: calc(100% - 55px);
    }
    .hr_2 {
        width: calc(100% - 110px);
    }
    .hr_3 {
        width: calc(100% - 165px);
    }
    .avatar_mat img {
        height: 64px;
        border: 2px solid #27363e;
        border-radius: 5px;
    }
    .avatar_mat img:hover {
        height: 64px;
        border: 2px solid #dddddd;
        border-radius: 5px;
    }

    .avatar_mat {
        margin: 9px 6px;
        padding: 0px 12px;
        line-height: 30px;
    }
    .mon_head schedule {
        width: 22%;
        font-size: 15px;
    }
    .avatar-stat {
        font-size: 14px;
    }
    .avatar-staticon {
        height: 27px;
        width: 27px;
        top: 8px;
    }
    .avatar-head, .weapon-head {
        height: 240px;
    }
    .mon_head schedule, .skill_phase schedule {
        font-size: 16px;
    }
    .a_section_small {
        width: 46%;
    }

    .a_section_smallsmall {
        width: 30%;
    }

    .a_section_small_1 {
        width: 36%;
    }

    .a_section_small_2 {
        width: 56%;
    }

    .a_section_small_3 {
        width: 30%;
    }

    .a_section_small_4 {
        width: 30%;
    }

    .mon_head schedule {
        width: 22%;
        font-size: 15px;
    }

    schedule {
        width: calc((100% - 50px) / 5);
    }

    .relic_image {
        width: 100px
    }

    .TUT_Text {
        font-size: 17px;
    }

    .a_section_content {
        font-size: 17px;
    }

    .a_section_content span {
        font-size: 17px;
    }

    .a_section_content input {
        font-size: 17px;
    }

    .a_section_head input {
        font-size: 17px;
    }

    .a_section_head,
    .a_section_head span {
        font-size: 20px;
    }
    .gacha {
        width: 70%;
        margin-left: calc(50% - min(500px, 70%) / 2);
    }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
    .avatar-card {
        width: calc(25% - 40px);
    }
}

@media screen and (min-width: 1000px) {
    .avatar-card {
        width: calc(20% - 42px);
    }
}