header {
    display: none;
}

h3 {
    margin: 0px auto 10px;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    color: rgb(255, 255, 255);
}

h3 span {
    position: relative;
}

h3 span {
    color: #fff;
}

h3 .subtitle {
    padding: 10px;
    display: block;
    width: 100%;
    margin: 0 auto;
    font-style: normal;
    margin-bottom: -20px;
}

h3 a {
    color: #df903b;
}

h3 .tlsub {
    margin-bottom: 15px;
    font-style: normal;
    cursor: pointer;
    display: block;
}

h3 .links {
    font-style: normal;
    line-height: 1.6;
    cursor: pointer;
}

container {
    display: block;
    max-width: 2000px;
}

.content {
    padding: 20px;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    min-height: 600px;
}

popheader {
    height: 40px;
    line-height: 40px;
    background: #fff;
    color: #333;
    font-size: 18px;
    font-weight: 600;
    overflow: hidden;
}

popbody {
    max-height: calc(100% - 40px) !important;
    padding: 20px;
}

.scroller {
    overflow-x: hidden !important;
}

schedule {
    display: block;
    width: calc((100% - 70px) / 3);
    text-align: center;
    padding: 10px 0px;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    font-size: 14px;
}

schedule.active {
    background-color: rgb(37, 69, 186);
    color: #fff;
}

.main-table {
    max-width: 100%;
    min-width: 800px;
}

.main-table th,
tr {
    white-space: wrap;
    line-height: 26px;
    font-size: 14px;
}

.main-table th,
.main-table td {
    padding: 12px 12px
}

.type {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15px;
}

.hp {
    cursor: pointer;
}

.main-table tr :nth-child(1) {
    width: 9%;
}

.main-table tr :nth-child(2) {
    display: none;
}

.main-table tr :nth-child(3) {
    width: 17.5%;
}

.main-table tr :nth-child(4) {
    width: 8%;
}

.main-table tr :nth-child(5) {
    width: 8%;
}

@media screen and (min-width: 600px) and (max-width: 800px) {
    .main-table tr :nth-child(2) {
        width: 18%;
        display: table-cell;
    }

    .main-table tr :nth-child(3) {
        width: 18%;
    }
}

@media screen and (min-width: 800px) {
    .main-table tr :nth-child(2) {
        display: table-cell;
    }

    .main-table th,
    tr {
        font-size: 16px;
    }

    schedule {
        font-size: 16px;
    }
}