popheader {
    height: 40px;
    line-height: 40px;
    background: #fff;
    color: #333;
    font-size: 18px;
    font-weight: 600;
    overflow: hidden;
}

popbody {
    max-height: calc(100% - 40px)!important;
    padding: 20px;
}

body, html {
    font-family: 'Microsoft YaHei', sans-serif;
    height: 100%;
    overflow: hidden;
    margin: 0px;
}

container {
    display: block;
    max-width: 2000px;
}

.content {
    padding: 5px;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    min-height: 600px;
}

schedule.active{
    background-color: rgb(37, 69, 186);
    color: #fff;
}